.fentBlue{
  background-color: rgb(165, 211, 248);
}
input{
  border-radius: 0px;
}
.borderLeft-Right
{
  border-left: 15px solid rgb(0, 89, 255);
  border-right: 15px solid rgb(0, 89, 255);
  background-color: rgb(231, 226, 219);
}
.inputHeight
{
  height: 25px;
}
.cursorPointer{
  cursor: pointer;
}
.STD-BG{
  background-color: rgb(231, 226, 219);
}
.ExtraFentBlue
{
  background-color: rgb(208, 234, 252);
}
