<div class="row mb-2">
  <div class="col-md-4 "></div>
  <div class="col-md-4 text-center "><b class="fs-3"> </b></div>
  <div class="col-md-4 text-center " id="printBTN" > <button class="btn btn-warning" (click)="generatePDF()" >Print</button> </div>
</div>
<div class="container border border-dark border-3" id="removeContainer">
  <form id="formPdf"  [formGroup]="resumeForm">
    <div class="m-2 ">
      <!-- ? Heading -->
        <div class="row fentBlue addMargin marginX">
         <div class="text-center mt-2"><b>RESUME</b></div>
          <div class="col-md-8 ms-3 mt-1 mb-2" >
            <b class="fs-3 bold">{{resumeForm.get('gender')?.value}}. {{resumeForm?.get('fullName')?.value}}</b>
            <div formArrayName="degree" >
            <div class="form-floating  d-flex" *ngFor="let o of resumeForm.get('degree')?.value as FormArray; let i = index ">
                <b>{{resumeForm.get('degree')?.value}}</b>
            </div>
          </div>
          </div>
          <div class="row col-md-4 text-center  my-2">
                 <div class="col-md-4"></div>
                 <div class="col-md-4 ">
                  <div class=" rounded-0" style="height: 110px; width: 110px;">
                    <img src="{{resumeForm.get('photoID')?.value}}" class="img-fluid" height="250" width="170" alt="Photo-ID">
                  </div>

                </div>
                 <div class="col-md-4"></div>
          </div>
        </div>
         <!-- ? Heading -->
               <!-- ? LH/RH Border = ABOUT ME -->
        <div class="row my-2 borderLeft-Right addMargin">
          <div class="col-md-9 mt-2 ">
            <div class="border-bottom border-2 pb-1  border-secondary">
              <b class="my-2">ABOUT ME</b>
            </div>
           <p style="text-align: justify;">{{resumeForm.get('aboutMe')?.value}} </p>
          </div>
          <div class="col-md-3 text-center my-2 fentBlue">
            <!-- & Phone -->
            <div class="row mt-3 ">
              <div class="col-md-2 text-end">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                </svg>
               </div>
               <div class="col-md-10 text-start">
                <div class="input-group">
                   <p>+91- {{resumeForm.get('phoneNumber')?.value}}</p>
                </div>
               </div>
            </div>
             <!-- & Email -->
             <div class="row ">
              <div class="col-md-2 text-end">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="rgb(0, 99, 500);" class="bi bi-envelope-at-fill" viewBox="0 0 16 16">
                  <path d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2H2Zm-2 9.8V4.698l5.803 3.546L0 11.801Zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 9.671V4.697l-5.803 3.546.338.208A4.482 4.482 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671Z"/>
                  <path d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034v.21Zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791Z"/>
                </svg>
               </div>
               <div class="col-md-10 text-start">
                <p > {{resumeForm.get('email')?.value}}</p>
               </div>
            </div>
                 <!-- & Address -->
                 <div class="row ">
                  <div class="col-md-2 text-end">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                      <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                    </svg>
                   </div>
                   <div class="col-md-10 text-start">
                    <p > {{resumeForm.get('address')?.value}}</p>
                   </div>
                </div>
          </div>
        </div>
         <!-- ? LH/RH Border = ABOUT ME -->
               <!-- * Education Details -->
               <div class="row my-2 ">
                <div class="col-md-1 d-flex justify-content-center align-items-center  my-2 border-end border-dark border-4">
   <!-- ^ ICONS -->

                <div class="border border-dark rounded-5">
                  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-mortarboard-fill" viewBox="0 0 16 16" class="p-2">
                    <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5Z"/>
                    <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Z"/>
                  </svg>
                </div>


                </div>
                <div class="col-md-11 mt-2 mb-2">
                  <div class="border-bottom border-2 pb-1  border-secondary">
                    <b class="text-primary" >EDUCATION</b>
                  </div>
                 <div class="row m-1" formArrayName="education">
                      <div class="col-md-6" *ngFor="let o of education.controls; let i=index" [formGroupName]="i">
                        <!-- ^ 10 th -->
                        <div class=" p-2 " >
                          <div class="STD-BG ">
                            <b>{{resumeForm.get('education')?.value[i].std}}</b> &nbsp; &nbsp; &nbsp;
                           [ <b> {{ resumeForm.get('education')?.value[i].passYear }} </b> ]

                          </div>
                          <div class="">
                            <p class="mb-0">{{resumeForm.get('education')?.value[i].collegeName | uppercase}} </p>
                            <i>Percentage/Grade : {{resumeForm.get('education')?.value[i].percentage}} </i>
                          </div>
                        </div>
                      </div>
                 </div>
                </div>

              </div>
               <!-- * Education Details -->

                           <!-- * SKILL's Details -->
                           <div class="row my-2 ">
                            <div class="col-md-1 d-flex justify-content-center align-items-center  my-2 border-end border-dark border-4">
               <!-- ^ ICONS -->

                            <div class="border border-dark rounded-5">
                              <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-tools p-2" viewBox="0 0 16 16">
                                <path d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.27 3.27a.997.997 0 0 0 1.414 0l1.586-1.586a.997.997 0 0 0 0-1.414l-3.27-3.27a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0Zm9.646 10.646a.5.5 0 0 1 .708 0l2.914 2.915a.5.5 0 0 1-.707.707l-2.915-2.914a.5.5 0 0 1 0-.708ZM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11Z"/>
                              </svg>
                            </div>
                            </div>
                            <div class="col-md-11 mt-2 mb-2">
                              <div class="border-bottom border-2 pb-1  border-secondary">
                                <b class="text-primary" >SKILL'S</b>
                              </div>
                             <div class=" m-1" formArrayName="skills" >
                              <div class="row">
                                  <div class="col-md-2"  *ngFor="let ob of skills.controls; let i=index" [formGroupName]="i">
                                    <!-- ^ Skill -1 -->
                                    <div class=" p-2 mb-2" >
                                      <div class="toast-header p-1 STD-BG" >
                                        <b class="ms-1">{{resumeForm.get('skills')?.value[i].skillName}}</b>
                                      </div>
                                      <div class="toast-body mt-2">
                                        <div class="progress border border-dark" role="progressbar" aria-label="Example with label" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                          <div class="progress-bar" [ngStyle]="{ 'width.%':  resumeForm.get('skills')?.value[i].percentage }">{{resumeForm.get('skills')?.value[i].percentage}}%</div>
                                        </div>
                                      </div>
                                    </div>
                                 </div>
                                  </div>
                                  <div class="col-md-6"></div>
                             </div>
                            </div>

                          </div>
                           <!-- * SKILL's Details -->

                             <!-- * Project's Details -->
                             <div class=" mt-2 " *ngIf="projects?.controls" >

                              <div class=" mt-2" >
                                <div class="border-bottom border-2 pb ExtraFentBlue border-secondary">
                                  <b class="ms-1">PROJECT DETAIL'S</b>
                                </div>

                                <div class=" mt-2" formArrayName="projects" >
                                  <div class="mb-0" *ngFor="let o of projects?.controls ; let i=index" [formGroupName]="i">
                                    <div class="d-flex ">
                                      <div class="w-100 ms-3">
                                    
                                        <div class="row">
                                          <div class="col-md-6">
                                            <div class="form-floating ">
                                              <b >{{resumeForm.get('projects')?.value[i].projectTitle}}</b>
                                            </div>
                                              <div class="form-floating">
                                                <i >{{resumeForm.get('projects')?.value[i].usedTools}}</i>
                                              </div>
                                              <div><i class="bg-light">( Scan & check the project.)</i></div>
                                              <b>Details : </b>

                                    
                                          </div>
                                          
                                          <div class="text-start col-md-6">
                                            <i>( Scan & Check my Project. )</i>
                                            <div class=" ms-5" style="height: 100px; width: 100px;">
                                              
                                              <!-- <img src="{{resumeForm.get('projects')?.value[i]?.QRCode}}" height="100" width="100" class="img-fluid" alt="QR Code"> -->
                                              <qrcode [qrdata]="resumeForm.get('projects')?.value[i]?.QRCode" [width]="120" [errorCorrectionLevel]="'M'"></qrcode>
                                              </div>
                                          </div>
                                        </div>
                                          <div class="form-floating">
                                            <p >{{resumeForm.get('projects')?.value[i].projectDescription}}</p>
                                          </div>
                                      </div>
                                    </div>

                                    <hr class="border border-primary" *ngIf="projects.length>1 && resumeForm.get('projects')?.value[i+1]">
                                  </div>

                                </div>
                              </div>

                            </div>
                             <!-- *Project Details -->
        <!-- ^ Work Experience -->
        <div class=" " *ngIf="experience?.controls" >

          <div class=" mb-0" >
            <div class="border-bottom border-2 pb-1 ExtraFentBlue border-secondary">
              <b class="ms-1">WORK EXPERIENCE </b>
            </div>
            <div class="mt-2" formArrayName="experience" >
              <div class=" mb-0" *ngFor="let o of experience?.controls ; let i=index" [formGroupName]="i">
                <div class="d-flex">
                  <div class="w-100 ms-3">
                    <div class="form-floating ">
                      <b >{{resumeForm.get('experience')?.value[i].position}}</b>
                    </div>
                      <!--&  Flex - Company - Date - Location -->
                      <div class="row">
                        <div class="col-md-6"> <i >{{resumeForm.get('experience')?.value[i].companyName}}</i></div>
                        <div class="col-md-3 d-flex">
                          <span class=" rounded-0">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-event-fill" viewBox="0 0 16 16">
                            <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zm-3.5-7h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5z"/>
                          </svg>
                        </span>
                        <div class="form-floating ms-2">
                          <i >{{resumeForm.get('experience')?.value[i].years}}</i>
                        </div></div>
                        <div class="col-md-3 d-flex">
                          <span class=" rounded-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                              <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                              <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            </svg>
                          </span>
                          <div class="form-floating ms-2">
                            <i >{{resumeForm.get('experience')?.value[i].companyLocation}}</i>
                          </div>
                        </div>

                      </div>
                       <!-- GRID -->
                    <div class="form-floating">
                      <p >{{resumeForm.get('experience')?.value[i].companyDetails}}</p>
                    </div>
                  </div>
                </div>

                <hr class="border border-primary" *ngIf="experience.length>1 && resumeForm.get('experience')?.value[i+1]">
           </div>
            </div>
          </div>

        </div>
        <!-- ^ Work Experience -->
                               <!-- * Hobbies's Details -->
          <div class="row  pb-3 bg-primary text-white addMargin marginX">
<!-- ? Hobby-1 -->
            <div class="col-md-4 mt-2">
              <div class="border-bottom border-2 pb-1  border-white">
                <b class="ms-1">HOBBIES/INTERESTS </b>
              </div>
              <div class="" formArrayName="hobbies">
                      <ul class="m-0" *ngFor="let o of hobbies.controls; let i=index">
                      <li class="">
                        <div class="d-flex">
                        <p class=" p-0 m-0" >{{resumeForm.get('hobbies')?.value[i]}}</p>
                        </div>
                      </li>
                      </ul>
              </div>
            </div>
<!-- ? Hobby-1 -->
               <!-- ? AWARDS/ACHIEVEMENTS -2 -->
               <div class="col-md-4 mt-2">
                <div class="border-bottom border-2 pb-1  border-white">
                  <b class="ms-1">AWARDS/ACHIEVEMENTS </b>
                </div>

                <div class="mt-2" formArrayName="awards">
                       <ul class="m-0" *ngFor="let o of awards.controls; let i=index">
                        <li class="">
                          <div class="d-flex">
                          <p class=" p-0 m-0" >{{resumeForm.get('awards')?.value[i]}}</p>
                          </div>
                        </li>
                       </ul>
                </div>
              </div>
<!-- ? AWARDS/ACHIEVEMENTS -2 -->
               <!-- ? Languages-3 -->
               <div class="col-md-4 mt-2">
                <div class="border-bottom border-2 pb-1  border-white">
                  <b class="ms-1">LANGUAGES </b>
                </div>

                <div class="mt-2" formArrayName="languages">
                       <ul class="m-0" *ngFor="let o of languages.controls; let i=index" [formGroupName]="i">
                        <li class="">
                          <div class="d-flex">
                          <p class=" p-0 m-0" >{{resumeForm.get('languages')?.value[i].L1}} :
                            <span *ngIf="resumeForm.get('languages')?.value[i].Read">Read /</span>
                            <span *ngIf="resumeForm.get('languages')?.value[i].Write">Write /</span>
                            <span *ngIf="resumeForm.get('languages')?.value[i].Speak">Speak</span>
                          </p>
                          </div>
                        </li>
                       </ul>
                </div>
              </div>
<!-- ? Languages-1 -->
                              </div>
                               <!-- *Hobbies Details -->
    </div>
  </form>
</div>
