<div class="container mt-5 border border-dark border-2">
  <form action="">
    <div class="m-2">
      <!-- ? Heading -->
        <div class="row fentBlue">
          <div class="col-md-8 mt-3 mb-5">
            <input type="email" class="form-control form-control-lg m-2 w-75" [placeholder]="'Enter Your Full Name'" id="exampleInputEmail1" aria-describedby="emailHelp">
            <input type="email" class="form-control form-control-sm m-2 w-50" [placeholder]="'Enter Your Role'" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="row col-md-4 text-center  my-2">
                 <div class="col-md-4"></div>
                 <div class="col-md-4 border border-dark">
                  <img src="..." class="card-img-top" alt="Photo-ID">
                  <input type="file" class="form-control form-control-sm">
                </div>
                 <div class="col-md-4"></div>
          </div>
        </div>
         <!-- ? Heading -->
               <!-- ? LH/RH Border = ABOUT ME -->
        <div class="row my-2 borderLeft">
          <div class="col-md-8 mt-2 mb-5">
            <b>ABOUT ME</b>
            <hr class="border-2">
            <textarea  name="" id="" cols="30" rows="3" class="form-control w-100"></textarea>
          </div>
          <div class="row col-md-4 text-center  my-2">
                 <div class="col-md-4"></div>
                 <div class="col-md-4 border border-dark">
                  <img src="..." class="card-img-top" alt="Photo-ID">
                  <input type="file" class="form-control form-control-sm">
                  
                </div>
                 <div class="col-md-4"></div>
          </div>
        </div>
         <!-- ? LH/RH Border = ABOUT ME -->

    </div>
  </form>
</div>
