<div class="mt-5"></div>
<div class="row mt-5">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="card">
            <h5 class="card-header text-center">RESUME DESIGNS</h5>
            <div class="card-body">
                <div class="row" style="cursor: pointer;">
                    <div class="col-md-4" routerLink="/design1">
                        <img src="../../assets/Designs/CV-Resume-Elegant-Graphics-10413103-1-580x399.jpg" [height]="400" [width]="350" alt="">
                    </div>
                    <div class="col-md-4" routerLink="/design2">
                        <img src="../../assets/Designs/il_570xN.4585712835_d569.avif" [height]="400" [width]="350" alt="">
                    </div>
                    <div class="col-md-4">
                        <img src="../../assets/Designs/il_570xN.4585759557_onz5.jpg" [height]="400" [width]="350" alt="">
                    </div>
                </div>
            </div>
          </div>
    </div>
    <div class="col-md-1"></div>
</div>